version: '3'
networks:
  typexs_base_dev: {}
services:


  typexs_base_dev_mongo:
    image: mongo:4
    ports:
      - 127.0.0.1:27017:27017
    volumes:
      - ./local/mongodb:/data/db
    networks:
      - typexs_base_dev

  typexs_base_dev_redis:
    image: redis:5
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - ./local/redis/db:/data
    networks:
      - typexs_base_dev
